include:
  - project: 'guobaobao/gitlab-ci'
    file: '/jobs/build_image.yml'
    ref: 'main'
  - project: 'guobaobao/gitlab-ci'
    file: '/jobs/image_push.yml'
    ref: 'main'
  - project: 'guobaobao/gitlab-ci'
    file: '/jobs/deploy_docker.yml'
    ref: 'main'
stages:
  - build
  - push_image
variables:

  SERVICE_NAME: apipost-apis-java                    # 服务/组件名称，用于命名镜像，例如 user, auth, payment
  IMAGE_NAMESPACE: apipost-syh                  # 镜像命名空间（组织、项目或业务线），如 ops、app 或 org/subgroup
  IMAGE_REPO_PREFIX: registry.cn-beijing.aliyuncs.com      # 镜像仓库前缀，通常用于镜像仓库中分组，如 registry.domain.com/project
  DOCKERFILE_PATH: docker-config/Dockerfile                # Dockerfile 文件路径（支持子路径如 ./build/Dockerfile）

  DEPLOY_PATH: /data/apipost-apis-test      # 部署目录
  DEPLOY_DOCKER_COMPOSE_TMP: docker-compose.yaml.j2
  DEPLOY_ENV_NAME:   .env_test   # 环境变量文件
  DEPLOY_HOST: 10.10.210.522    # 部署主机


workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'  # 手动触发
      when: always
    - if: '$CI_COMMIT_TAG'  # 有 tag 时（即打 tag 时）
      when: always
    - when: never  # 其他情况不触发


build_image:
  stage: build
  extends:
    - .build_image_base

push_image:
  stage: push_image
  extends:
    - .push_image_base

